<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d [%t] (%F:%L) (%M) - %m%n" />
		</layout>
	</appender>
	<appender name="dailyroll" class="org.apache.log4j.DailyRollingFileAppender">
                <!-- The active file to log to -->
		<!--<param name="file" value="/home/himanshu/Desktop/logs/iCatalog-admin/log4j_logs/logs.log" />-->
		<param name="file" value="/home/himanshu/Desktop/logs/iCatalog-admin/log4j_logs/logs.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d [%t] (%F:%L) (%M) - %m%n" />
		</layout>
	</appender>
	<logger name="com.mobicule" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyroll" />
	</logger>
	<logger name="org.hibernate" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyroll" />
	</logger>
	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyroll" />
	</root>
</log4j:configuration>